* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121212;
  color: #fff;
}

.container {
  width: 1312px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 775px;
  background-image: url(./imeges/header\ fon.svg);
  background-position: center;
  background-size: cover;
  margin-bottom: 85px;
}

.kino-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.nav-logo {
  margin-right: 1072px;
}

.nav-tugma {
  margin-right: 34px;
}

.line {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;

  width: 123;
  opacity: 1;
  top: 276px;
  left: 0.09px;
  border-width: 1px;
}

.nav-info-asosiy {
  display: flex;
}


.kinolar-rasmlar{
  display: flex;
  align-items: end;
  justify-content: space-around;
  gap: 65px;


}
.kinolar-rasm{
  transition: all .3s linear;
}

.kinolar-rasm:hover{
  transform: scale(1.5);}

.godzilla{
  margin-top: 450px;
  height: 179px;
}

.live-ijrolar-tepa{
  display: flex;
  color: #fff;
  gap: 1080px;
  margin-bottom: 50px;
}

.live-card1{
  width: 309px;
  height: 450px;

  background-image: url(./imeges/qirol\ sher\ 2.svg);
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;
}

.card-title{
  font-family: Roboto;
font-weight: 600;
font-style: SemiBold;
font-size: 22px;
line-height: 20px;

}

.card-info{
  display: flex;
  flex-direction: column;
 align-items: start;
gap:  6px;

  padding-top: 323px;
padding-left: 30px;
padding-right: 114px;
padding-bottom: 30px;


}

.card-til{
  width: 37px;
  border: none;
  border-radius: 5px;
  padding-block: 4px;
  background-color: rgba(208, 207, 207, 0.122);
color: #fff;




  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 16px;
text-align: center;
}

.live-ijrolar-cards{
  display: flex;
  gap: 26px;

}
.live-card{
  transition: all .3s linear;
}

.live-card:hover{
  transform: scale(1.1);
}

.live-card2{
   width: 309px;
  height: 450px;

 background-image: url(./imeges/vikinglar.svg);
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;
}

.live-card3{
   width: 309px;
  height: 450px;

  background-image: url(./imeges/zahir\ tulugu\ 2.svg\ );
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;

  
}

.live-card4{
   width: 309px;
  height: 450px;

  background-image: url(./imeges/grey\ 2.svg\ );
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;
}

.live-ijrolar-title{
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: larger;
line-height: 16px;

}

.live-ijrolar-paragraph{
 color:  #989898;
}

.live-card-mk{
   width: 309px;
  height: 450px;

  background-image: url(./imeges/mortal\ kombat.svg);
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;
}
.live-card-bliss{
   width: 309px;
  height: 450px;

  background-image: url(./imeges/bliss.svg);
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;
}

.live-card-rain{
   width: 309px;
  height: 450px;

  background-image: url(./imeges/rain\ 2.svg);
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;
}

.live-card-slavery{
   width: 309px;
  height: 450px;

  background-image: url(./imeges/slavery.svg);
  background-position: center;
  background-size: cover;

  margin-bottom: 110px;
}

.azarbayjan-title{
  font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 25px;
line-height: 24px;


margin-bottom: 50px;
}


.azarbayjan-img{
  padding-top: 50px;
  margin-bottom: 81px;
}

.azarbayjan-asosiy{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 111px;
  margin-bottom: 110px;
}

.mal-alan-img{
  position: relative;
  left: -30px;
  width: 558px;
  height: 432px;
}

.azarbayjan-right-side{
  width: 415px;
}
.mal-alan-info{
  font-family: Roboto;
font-weight: 300;
font-style: Italic;
font-size: 11px;
line-height: 150%;
letter-spacing: 1%;

}
.mal-alan-title{
  font-family: Roboto;
font-weight: 500;
font-size: 25px;
line-height: 24px;
margin-top: 6px;

}

.mal-alan-paragraph{
 color: #D8D8D8; 
 font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 150%;

margin-top: 30px;

}

.about-us{
  width: 100%;
  height: 418px;

  background-color: #1A1919;
  margin-bottom: 110px;
}

.about-us-left-side{
  width: 402px;
  height: 207px;
}

.about-us-title{
  margin-bottom: 10px;
}

.about-us-img{
  backdrop-filter: blur(5px)

}

.about-us-asosiy{
  
display: flex;
justify-content: center;
align-items: center;

gap: 181px;
}

.strelka{
  position: relative;
  right: -10px;
  top: 5px;
  bottom: -7px;
}

.left-side{
  width: 558px;
  height: 457px;

  background-image: url(./imeges/yangiliklar\ fon.svg);
  background-position: center;
  background-size: cover;

  margin-bottom: 101px;
}

.habarlar-title{
width: 314px;


font-family: Roboto;
font-weight: 600;
font-size: 20px;
line-height: 150%;

padding-top: 206px;
margin-bottom: 22px;
margin-left: 35px;
}

.habarlar-paragraph{
  font-family: Roboto;
font-weight: 500;
font-size: 15px;
line-height: 150%;


width: 471px;
color: #D8D8D8;

margin-left: 35px;
}

.habarlar-sana{
  font-family: Roboto;
font-weight: 200;
font-style: Italic;
font-size: 13px;
line-height: 150%;

position: relative;
left: 435px;
top: -45px;
}


.habarlar-asosiy{
  display: flex;
}


.yangiliklar-paragraph{
  width: 309px;

  font-family: Roboto;
font-weight: 600;
font-size: 12px;
line-height: 150%;


color: #CBCBCB;
}

.yangilik{
  display: flex;
margin-top: 26px;
margin-left: 51px;
margin-bottom: 36px;

}
.yangilik-asosiy{
  display: flex;
 flex-direction: column;

 margin-left: 25px;
 gap: 5px;
}

.yangiliklar-sana{
  font-family: Roboto;
font-weight: 300;
font-style: Italic;
font-size: 11px;
line-height: 150%;
letter-spacing: 1%;


color: gray;
}


.kino-footer{
  background-color: #FFFFFF15;
  height: 319px;
}

.footer-info{
  list-style-type: none;

  font-family: Roboto;
font-weight: 300;
font-style: Light;
font-size: 15px;
line-height: 100%;
letter-spacing: 1%;

padding-block: 15px;
}
.footer-title{
  font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 1%;
text-transform: uppercase;

margin-bottom: 36px;
}

.footer-infos{
  padding-top: 35px;
  padding-left: 30px;
}

.footer-asosiy{
  display: flex;
  gap: 191px;
}